:root {
	--jsonKey: green;
	--jsonNull: green;
	--jsonBoolean: green;
	--jsonString: green;
	--jsonNumber: green;
}

.jsonObj,
.jsonArray {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.jsonObj > *,
.jsonArray > * {
	margin-left: 1rem;
}

.jsonObj:has(> .jsonVal) {
	flex-direction: row;
}

.jsonKey::after {
	content: ':';
}

.jsonKey:has(> .jsonObj.hidden)::after {
	content: ':\00a0';
}

.jsonVal {
	word-break: break-all;
}

.jsonKey {
	color: var(--jsonKey);
}

.jsonNullVal {
	color: var(--jsonNull);
}

.jsonBooleanVal {
	color: var(--jsonBoolean);
}

.jsonStringVal {
	color: var(--jsonString);
}

.jsonNumberVal {
	color: var(--jsonNumber);
}
