:root {
    --bg-color: #403d39;
    --text-color: #ccc5b9;
    --border-color: #252422;
    --orange: #f46036;
    --green: #008000;
    --red: #d90429;
}

* {
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    width: 50rem;
}

.hidden {
    display: none !important;
}

.note {
    font-style: italic;
    font-size: 0.8rem;
    margin: 0.325rem 0;
}

input[type='checkbox'] {
    appearance: none;
    background-color: var(--bg-color);
    margin: 0;
    color: var(--green);
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.065em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type='checkbox']:not(:checked) {
    box-shadow: inset 1em 1em var(--red);
    clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
    );
}

input[type='checkbox']::before {
    content: '';
    width: 1.15em;
    height: 1.15em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--green);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type='checkbox']:checked::before {
    transform: scale(1);
}

/* .extUtil {} */

.extUtil__title,
.extUtil__author {
    margin: 0.325rem auto;
}

.extUtil__notificationBar {
    display: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* create transition for notification bar when display changed to flex */

.extUtil__notification {
    display: flex;
    padding: 0.3125rem;
    align-items: center;
}

.extUtil__notificationIcon {
    height: 100%;
    width: 3rem;
    display: flex;
    border-right: 3px solid var(--orange);
    align-items: center;
    margin-right: 0.5rem;
    justify-content: center;
}

.extUtil__notificationIcon i {
    width: 1.5rem;
    height: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url('../icons/notification-48.png');
}

.extUtil__notificationText {
    color: var(--orange);
    font-size: 1rem;
    font-weight: 500;
}

.extUtil__content {
    margin-top: 1rem;
}

.extUtil__contentInfo {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-left: 0.325rem;
}

.extUtil__tabItem {
    display: flex;
    flex-direction: column;
}

.extUtil__tabItemControls {
    margin: 0.625rem 0;
}

.extUtil__tabItemContent {
    margin: 0.25rem;
    border: 1px solid var(--text-color);
    padding: 0.325rem;
    max-width: 100%;
}

.extUtil__tabItemContent em {
    margin-bottom: 0.25rem;
}

.extUtil__table {
    display: grid;
    grid-template-areas: 'list view';
    grid-template-columns: 1fr 6fr;
}

.extUtil__tableList {
    grid-area: list;
    border-right: 1px solid var(--text-color);
    padding: 0.325rem;
}

.extUtil__ssItem {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    font-size: 0.825rem;
}

.extUtil__ssItem p {
    margin: 0 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.extUtil__ssItem.selected p {
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 0.25rem;
}

.extUtil__tableView {
    grid-area: view;
    margin-left: 1rem;
    font-size: 0.825rem;
}

.jsonObj {
    display: flex;
    cursor: pointer;
}

.jsonObj > * {
    margin-left: 1rem;
}

.jsonObj:has(> .jsonKey > .jsonVal) {
    flex-direction: row;
}

.jsonObj:has(> .jsonKey > .jsonObj),
.jsonObj:has(> .jsonVal) {
    flex-direction: column;
}
.jsonObj {
    display: flex;
}

.jsonKey:has(+ .jsonVal)::after {
    content: ':';
}

.jsonKey:has(> .jsonObj.hidden)::after {
    content: '\00a0 ...';
}

.jsonVal {
    word-break: break-all;
}

.btn {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 0.325rem;
    color: var(--text-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    padding: 0.25rem 1rem;
    margin: 0 0.325rem;
    text-align: center;
}

.btn:hover {
    border-color: var(--orange);
    color: var(--orange);
}
