/* Utility */
:root {
    --alertColor: '#f46036';
    --backgroundColor: '#403d39';
    --backgroundHoverColor: '#ccc5b9';
    --borderColor: '#ccc5b9';
    --buttonBackgroundColor: 'transparent';
    --buttonBorderColor: '#ccc5b9';
    --buttonHoverBackgroundColor: 'transparent';
    --buttonHoverBorderColor: '#f46036';
    --buttonHoverTextColor: '#f46036';
    --buttonTextColor: '#ccc5b9';
    --checkedColor: '#008000';
    --textColor: '#ccc5b9';
    --uncheckedColor: '#d90429';
}

* {
    background-color: var(--backgroundColor);
    border-color: var(--borderColor);
    box-sizing: border-box;
    color: var(--textColor);
}

body {
    margin: 0;
    padding: 0.25rem;
    width: 47rem;
    height: 100%;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.note {
    font-style: italic;
    font-size: 0.8rem;
    margin: 0.325rem 0;
}

.alert {
    border-color: var(--alertColor) !important;
    color: var(--alertColor) !important;
}

.selected {
    background-color: var(--backgroundHoverColor) !important;
    color: var(--backgroundColor) !important;
}

/* Buttons */

.btn-theme {
    border-color: var(--buttonBorderColor) !important;
    background-color: var(--buttonBackgroundColor) !important;
    color: var(--buttonTextColor) !important;
}

.btn-theme:hover {
    background-color: var(--buttonBackgroundHoverColor) !important;
    border-color: var(--buttonHoverBorderColor) !important;
    color: var(--buttonHoverTextColor) !important;
}

.btn {
    border-width: 2px;
    border-style: solid;
    border-radius: 0.325rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    padding: 0.25rem 1rem;
    margin: 0 0.325rem;
    text-align: center;
}

#optionsButton {
    /* color: var(--buttonTextColor); */
    cursor: pointer;
    margin-right: 1rem;
}

#optionsButton:hover {
    color: var(--buttonHoverTextColor);
}

.toggleOptions {
    padding: 0 1.5rem;
    margin: 0.125rem;
}

.selectAll,
.unselectAll {
    cursor: pointer;
}

.selectAll:hover,
.unselectAll:hover {
    text-decoration: underline;
    color: var(--buttonHoverTextColor);
}

/* Heading */

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0.5rem;
}

.extUtil__title {
    margin-bottom: 0.25rem;
}

.extUtil__version {
    margin: 0.325rem 0.5rem;
}

/* Inputs */

input[type='checkbox'] {
    appearance: none;
    margin: 0;
    color: var(--checkedColor);
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.065em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type='checkbox']:checked::before {
    transform: scale(1);
}

input[type='checkbox']:not(:checked) {
    box-shadow: inset 1em 1em var(--uncheckedColor);
    clip-path: polygon(
        20% 0%,
        0% 20%,
        30% 50%,
        0% 80%,
        20% 100%,
        50% 70%,
        80% 100%,
        100% 80%,
        70% 50%,
        100% 20%,
        80% 0%,
        50% 30%
    );
}

input[type='checkbox']::before {
    content: '';
    width: 1.15em;
    height: 1.15em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--checkedColor);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

/* Notifications */

#toast {
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 30rem;
    white-space: nowrap;
    transform: translateY(100%);
    opacity: 0;
    transition: ease-in-out opacity 500ms, transform 500ms;
}

.toast__body {
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem;
    width: 100%;
    background-color: var(--buttonHoverTextColor);
    border-radius: 0.25rem;
    cursor: pointer;
}

.toast__text {
    padding: 0 1rem;
    background: transparent;
    color: var(--backgroundColor);
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 0.5rem;
}

.toast__closeButton {
    font-size: 0.625rem;
    background: transparent;
    color: var(--backgroundColor);
}

.toast__closeButton:hover {
    text-decoration: underline;
}

/* create transition for notification bar when display changed to flex */

/* Session Storage Table/Content */

.extUtil__content {
    margin-top: 1rem;
}

.extUtil__contentInfo {
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-left: 0.325rem;
}

.extUtil__tabItem {
    display: flex;
    flex-direction: column;
}

.extUtil__tabItemControls {
    margin: 0.625rem 0;
}

.extUtil__tabItemContent {
    margin: 0.25rem;
    border-width: 1px;
    border-style: solid;
    padding: 0.325rem;
    max-width: 100%;
}

.extUtil__tabItemContent em {
    margin-bottom: 0.25rem;
}

.extUtil__table {
    display: grid;
    grid-template-areas: 'list view';
    grid-template-columns: 1fr 3fr;
    /* height: 65vh; */
}

.extUtil__tableList {
    grid-area: list;
    border-right-width: 1px;
    border-right-style: solid;
    padding: 0.325rem;
    overflow-y: auto;
    overflow-x: clip;
    min-height: fit-content;
}

.extUtil__ssItem {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    font-size: 0.825rem;
}

.extUtil__ssItem p {
    margin: 0 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

.extUtil__ssItem p.selected {
    border-radius: 0.25rem;
}

.extUtil__tableView {
    grid-area: view;
    margin-left: 1rem;
    font-size: 0.825rem;
    overflow-y: auto;
}