.ViewGrid {
	border: 0.0625rem solid var(--borderColor);
	padding: 0.325rem;
	max-height: 21rem;
	height: 100%;
	overflow: hidden;
}

.ViewGrid__30,
.ViewGrid__70 {
	display: flex;
	width: 100%;
	overflow-wrap: break-word;
	overflow-y: auto;
}

.ViewGrid__30 {
	border-right: 0.0125rem solid var(--borderColor);
	flex-direction: column;
	word-wrap: break-word;
	word-break: break-all;
	overflow-x: clip;
	padding: 0 0.125rem;
}