:root {
    --alertColor: lightGreen;
    --backgroundColor: white;
    --borderColor: black;
    --buttonBackgroundColor: white;
    --buttonBorderColor: black;
    --buttonHoverBackgroundColor: transparent;
    --buttonHoverBorderColor: black;
    --buttonHoverTextColor: black;
    --buttonTextColor: black;
    --textColor: black;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border-color: var(--borderColor);
    font-size: 1.25rem;
}

h3, p {
    margin: 0.5rem auto;
}

.options {
    position: relative;
}

#themeOptions,
#customCodeThemeOptions,
#customThemeOptions {
    margin: 2rem 3rem;
}

.selectContainer {
    display: flex;
    gap: 1rem;
    /* justify-content: space-between; */
    margin: 0 1rem;
    align-items: center;
}

select {
    all: unset;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    width: 100%;
    min-width: 5rem;
    max-width: 10rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    /* background-image: linear-gradient(to top, var(--backgroundColor), var(--textColor) 33%); */
    margin-bottom: 0.5rem;
}

select,
.select:after {
    grid-area: select;
}

.select::after {
    content: "";
    width: 0.8rem;
    height: 0.5rem;
    background-color: var(--alertColor);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--alertColor);
    border-radius: inherit;
}
/* 
.optionContainer {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    align-items: center;
}

label {
    margin-right: auto;
}

.optionContainer .hexVal {
    all: unset;
    width: 6rem;
}

input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3rem;
    height: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
}

input[type="color"] ::-moz-color-swatch {
    border-radius: 1rem;
    border: none;
}

input[type="checkbox"] {
    all: unset;
    width: 1rem;
    height: 1rem;
    border-width: 0.15em;
    border-style: solid;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--alertColor);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    border-color: var(--alertColor);
}

input:disabled,
.hexVal:disabled {
    opacity: 0.3;
}

#preview {
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
} */

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    all: unset;
    border-color: var(--buttonBorderColor);
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonTextColor);
    border-width: 2px;
    border-style: solid;
    border-radius: 0.325rem;
    cursor: pointer;
    display: inline-block;
    font-weight: 800;
    padding: 0.25rem 1rem;
    margin: 0 0.325rem;
    text-align: center;
}

button:hover {
    background-color: var(--buttonBackgroundHoverColor);
    border-color: var(--buttonHoverBorderColor);
    color: var(--buttonHoverTextColor);
}

.controls {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--backgroundColor);
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 0.5rem;
    z-index: 9;
}

.sticky {
    position: fixed;
    bottom: 0.5rem;
    width: 100%
}