$ssh-black: #000000;
$ssh-black-100: #403d39;
$ssh-white: #ffffff;
$ssh-white-100: #ccc5b9;
$ssh-orange: #f46036;
$ssh-green: #00ff00;
$ssh-green-100: #008000;
$ssh-red: #ff0000;
$ssh-red-100: #d90429;

* {
    box-sizing: border-box;
}

body {
    width: 47rem;
    max-height: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
    margin: 0.0125rem;
}