.JsonKey {
    cursor: pointer;
    color: orange;
    width: fit-content;
    // fix for char width issue causing 1px alignment issue
    
    min-width: 2ch;

    // TODO: might need to alter this after fixing rendering issues with object siblings and nesting
    & + .JsonKey {
        width: 100% !important;
    }

    &::before {
        content: '+';
        margin-right: 0.325rem;
    }

    &[is-hidden="false"]::before {
        content: '-'
    }

    &::after {
        content: ':';
    }    
}