.Header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem;
	padding: 0 0.125rem;
	color: var(--specialTextColor);
	width: 100%;
}

.Header div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.Header h1,
.Header p,
.Header a {
	margin: 0.325rem 0 0;
}
