.List {
	font-size: 0.875rem;
	color: var(--textColor);
	margin: 0.5rem 0.325rem;

	li {
		margin-top: 0.325rem;
	}

	&__dash {
		list-style: none;

		li::marker {
			content: '-';
		}
	}

	&__none {
		list-style: none;
	}
}
