@import '../../global';

.ViewGrid {
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-template-areas: "key value";
    border: 0.0625rem solid #8c8c8c;
	padding: 0.325rem;
    min-height: 20rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &__30,
    &__70 {
        display: flex;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        overflow-wrap: break-word;
    }

    &__30 {
        border-right: 0.0125rem solid #8c8c8c;
        grid-area: key;
        flex-direction: column;
    }

    &__70 {
        grid-area: value;
    }
}