@import '../../global';

$black: #000000;
$white: #ffffff;
$light-gray: #d9d9d9;
$dark-gray: #8c8c8c;
$purple: #9254de;
$magenta: #f759ab;
$blue: #4096ff;
$cyan: #36cfc9;
$green: #54a427;
$yellow: #ffec3d;
$gold: #ffc53d;
$orange: #ff9310;
$red: #ff4d4f;

// light theme
$key: $purple;
$object: $blue;
$string: $green;
$number: $ssh-orange;
$null: $red;
$boolean: $ssh-orange;

// dark theme



.DataItem {
    display: flex;
    flex-direction: column;

    &#emptyObject > div,
    &#emptyArray > div {
        color: $dark-gray;
        font-style: italic;
    }

    &__key {
        cursor: pointer;
        color: $key;
    }

    &__object,
    &__array {
        color: $object;
    }

    &__string {
        color: $string;
    }

    &__number,
    &__boolean {
        color: $number;
    }
    
    &__null {
        color: $null;
    }

    .DataItem {
        margin-left: 1rem;
    }
}