.JsonObject {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .JsonObject {
        margin-left: 1rem;
    }

    &__array .JsonKey:has(+ .JsonValue)::before {
        content: none;
    }
}