* {
	box-sizing: border-box;
}

html {
	background-color: var(--backgroundColor);
}

body {
	max-height: 100%;
	height: 100%;
	overflow: hidden;
}

#root {
	margin: 0.0125rem;
	width: 47rem;
	height: 32rem;
	overflow: hidden;
}

/* scrollbar styles */
/* width */
::-webkit-scrollbar {
	width: 0.4375rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--borderColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--specialTextColor);
}

.mt-2 {
	margin-top: 2rem;
}
