.DataItem {
	display: flex;
	flex-direction: column;

	&#emptyObject > div,
	&#emptyArray > div {
		color: var(--emptyColor);
		font-style: italic;
	}

	&__key {
		cursor: pointer;
		color: var(--objectColor);
	}

	&__object {
		color: var(--objectColor);
	}

	&__array {
		color: var(--arrayColor);
	}

	&__string {
		color: var(--stringColor);
	}

	&__number {
		color: var(--numberColor);
	}

	&__boolean {
		color: var(--booleanColor);
	}

	&__null {
		color: var(--nullColor);
	}

	&__undefined {
		color: var(--undefinedColor);
	}

	.DataItem {
		margin-left: 1rem;
	}
}
